{% extends 'base.html' %}
{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
            </thead>
            <tbody>
                {% if data_for_urls_page %}
                    {% for part_data in data_for_urls_page %}
                        <tr>
                          <td>{{ part_data.id if part_data.id else ''}}</td>
                          <td>
                            <a href="{{ url_for('get_url', id=part_data.id) }}">
                              {{ part_data.name if part_data.name else '' }}
                            </a>
                          </td>
                          <td>{{ part_data.created_at if part_data.created_at else '' }}</td>
                          <td>{{ part_data.status_code if part_data.status_code else '' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
          </table>
        </div>
    </div>
</main>
{% endblock %}
